<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <!--------------------Header class start------------------------->
    <nav class="navbar" style="background-color: #024d52;">
      <div class="container">
        <span class="navbar-brand mb-0 mt-3 mb-3 h1 text-light">User Analys and Guidance Fitness App</span>
      </div>
    </nav>
    <!--------------------Header class end------------------------->

    <!--------------------navigation class start------------------------->
    <div class="navigation bg-light" >
        <div class="container">
            <ul class="nav justify-content-left">
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('Home') }}">Home</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Pradic') }}">Suggestion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Mainexpage') }}">Routes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('UserGuide') }}">User Guide</a>
                  </li>
            </ul>
        </div>
    </div>
    <!--------------------Navigation class end------------------------->

    <!--------------------body class start------------------------->
    <div class="container">
        {% block body_content %}

        {% endblock %}
    </div>
    <!--------------------body class end------------------------->

    <!--------------------footer class start------------------------->
    <footer class="text-center text-lg-start" style="background-color: #024d52;">
      <!-- Copyright -->
      <div class="text-center p-3 ">

        <p class="text-light" >User Analys and Guidance Fitness App</p>
      </div>
      <!-- Copyright -->
    </footer>
    <!--------------------footer class end------------------------->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>