{% extends 'base.html' %}

<!-------- Title block start------------->
{% block title %}
    Home
{% endblock %}
<!-------- Title block end------------->

<!-------- Body-content block start------------->
{% block body_content %}
        <br>
        <H1 class="navbar-brand"> Curl</H1>
         <div class="row">
            <div class="col text-center">
                <br>
                    <p>When strengthening your biceps, it's important to perform exercises that specifically target the biceps muscle in your upper arm. To keep your workouts challenging and interesting, find different ways to work the biceps. These 10 bicep curl variations will help strengthen and tone your arm muscles.
                    </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/in7PaeYlhrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
            </div>
        </div>
            <br>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                 <a href="https://www.youtube.com/watch?v=in7PaeYlhrM&t=7s&ab_channel=MindPumpTV">Watch on youtube</a>
                <br>
            </div>
            <br><br>

        </div>

{% endblock %}
<!-------- Body-content block end ------------->