{% extends 'base.html' %}

<!-------- Title block start------------->
{% block title %}
    Home
{% endblock %}
<!-------- Title block end------------->

<!-------- Body-content block start------------->
{% block body_content %}
        <br>
        <H1 class="navbar-brand"> Push Ups</H1>
         <div class="row">
            <div class="col text-center">
                <br>
                    <p>Push-ups are a convenient exercise that can do anywhere. They do not need
                        equipment or a gym membership. This exercise can help users torch calories, build
                        and tone muscle, gain strength, and positively impact their overall fitness, function,
                        and performance. Most people think of push-ups as a strength exercise, Push-ups can
                        also improve heart health.
                    </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/MO10KOoQx5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
            </div>
        </div>
            <br>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                 <a href="https://www.youtube.com/watch?v=MO10KOoQx5E&ab_channel=JeremyEthier">Watch on youtube</a>
                <br>
            </div>
        </div>
            <br><br>
            <div class="row">
                <div class="col d-flex justify-content-left">
                            <br><br>
                             <h3><u>Instruction</u></h3>
                            <br>
                        </div>
                    </div>
            <div class="row">
            <div class="col">
                <br>
                 <p>
                    Before starting Push ups users sit in a quadruped position and hands directly underneath with shoulders and knees directly underneath with hips.
                 </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                 <p>
                      Engage body core and extend one leg out then bring the other to meet it forming one nice long position. Focus on keeping a nice neutral spine throughout with focus directly in between hands. Feet should be hip-width
                        apart and parallel to each other, not turned inward or outward
                 </p>
            </div>
        </div>
        <div class="row">
                    <div class="col">
                        <br>
                         <p>
                              When the user inhales, lower body down to hover off of the ground, forming
                                a 90-degree angle from shoulder, elbow to hand. and when exhaling, push
                                the floor away keeping the body strong and tight.
                         </p>
                    </div>
                </div>

        </div>



{% endblock %}
<!-------- Body-content block end ------------->