{% extends 'base.html' %}

<!-------- Title block start------------->
{% block title %}
    Home
{% endblock %}
<!-------- Title block end------------->

<!-------- Body-content block start------------->
{% block body_content %}
        <br>
        <H1 class="navbar-brand"> Squat</H1>
         <div class="row">
            <div class="col text-center">
                <br>
                    <p>
                        The squat is a dynamic strength training exercise that requires several muscles in the
                        upper and lower body to work together simultaneously. The squat is one of the most
                        effective, trusted source exercises for enhancing athletic performance. It is relatively
                        easy for most people to perform because it does not require any equipment. There
                        are contain few types of squats. Wall squats, Box squats, Squat jumps, Goblet squats
                        few of them.
                    </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/jjVpDI6x_ec" title="Squats | Shilpa Shetty Kundra | Fitness | The Art Of Strengthening" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
            </div>
        </div>
            <br>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <br>
                 <a href="https://www.youtube.com/watch?v=jjVpDI6x_ec&ab_channel=ShilpaShettyKundra">Watch on youtube</a>
                <br>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-left">
                            <br><br>
                             <h3><u>Instruction</u></h3>
                            <br>
                        </div>
                    </div>
            <div class="row">
            <div class="col">
                <br>
                 <p>
                      Stand with feet shoulder-width apart.
                 </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                 <p>
                       Push the weight back into heels, In here user should be able to lift up their toes.
                 </p>
            </div>
        </div>
        <div class="row">
                    <div class="col">
                        <br>
                         <p>
                              Slightly bend users’ knees and put arms out straight in front and to get balance.
                         </p>
                    </div>
                </div>
            <div class="row">
                    <div class="col">
                        <br>
                         <p>
                               Sit back as if going to sit in an invisible chair and keep back straight and legs at a 90-degree angle.
                         </p>
                    </div>
                </div>
            <div class="row">
                    <div class="col">
                        <br>
                         <p>
                                Keep knees behind toes and push back up to stand.
                         </p>
                    </div>
                </div>
        </div>

{% endblock %}
<!-------- Body-content block end ------------->